main{
	display: inline-block;
    color: white;
	margin: 40px;
	font-size: 1.5em;
	text-align: left;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: white;
	text-decoration: none;
}

h1{
    color: black;
}
nav a{
	display: block;
}