body {
    text-align: center;
}

nav, footer p {
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}

a:hover {
    color: white;
    margin: 40px;
    font-size: 1.5em;
    background-color: steelblue;

}

h1 {
    color: steelblue;

}
img{
    width: 100%;
    border: 40px salmon;
}
p{
    width: 100%;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.0em;
}

#active{
    background-color: white;
    color: steelblue;
}